<!DOCTYPE html>
<html>
    <head>
        <title>TIMS: Tech Inventory Management System</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

    </head>

    <body>

    </body>
</html>   