<!DOCTYPE html>
<html>
    <head>
        <title>Device Management System</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />

    </head>

    <body>
        <div id="header">
            <h1>TIMS</h1>
            <div id="nav">
                <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>